{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!--  PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">Greenfield Development Funding</div>

            <p>
                Apart from running volunteering programmes, Greenfield Foundation also provides small grants to various
                projects in Ghana and Kenya. In Ghana, we fund projects selected by our own government-registered NGO,
                Greenfield Foundation, whereas in Kenya we currently work with a partner NGO called Greencard Mtaani.
                In time, we hope to extend our development funding programme to projects in Malawi. We are currently
                negotiating a partnership agreement with an NGO there.
            </p>
            <p>
                All our prospective, and existing, NGO partners must be registered with the relevant authorities in
                their country, in order for Greenfield to work with them.
            </p>
            <p>
                The links below show what Greenfield has funded in Ghana and Kenya so far.
            </p>

            <p>
                Please help us continue this vital work in disadvantaged communities by
                <a class="orange-panel-link inline" href="{{ url_for('donate') }}">making a donation</a>
                to Greenfield. Thank you! <b class="purple-background">😆</b>
            </p>

        </div>
        <!-- /. PANEL -->

        <!-- PROJECT LINKS PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <p>
                GHANA PROJECTS
            </p>
            <ul>
                <li><a class="general-link" href="{{ url_for('dev_iddrisu_school') }}">Extension & refurbishment of village school at Iddrisu-Krom, Afram Plains.</a></li>
                <li><a class="general-link" href="{{ url_for('dev_peki_tsame_school') }}">Building of Day Care Centre at Peki Tsame Primary School, Volta Region.</a></li>
            </ul>
            <p>
                KENYA PROJECTS
            </p>
            <ul>
                <li><a class="general-link" href="{{ url_for('dev_refurbishment_after_flood') }}">Refurbishment Greencard Mtaaani's education centre, Kibera, Nairobi.</a></li>
            </ul>

        </div>
        <!-- /.PROJECT LINKS PANEL -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
         <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/development_funding/all_development/building_roof.jpg"
             alt="Workmen building village school roof at Iddrisu-Krom.">
        <!-- /.IMAGE -->
    </div>

</section>

{% endblock %}