            <p>
                We give grants to various projects in the country where we have our volunteer programmes. These
                tend to be for projects that are too remote to send volunteers to, or to top up more expensive
                projects, for example to pay for building materials, where volunteer fees do not fully cover the
                costs.
            </p>
            <p>
                If you are not able to volunteer, please consider making a donation.
            </p>

            <p>
                You can also support us for FREE by shopping online for your favourite brands via <b>easyfundraising</b>.
            </p>

            <p class="inline">
                For the above options please visit our <a class="general-link" href="{{ url_for('donate') }}"><b>donation page.</b></a>
            </p>

