            <p>
                If you are 18 or over you can apply to volunteer with us.
                Greenfield Foundation is a non-profit organisation that aims to help disadvantaged communities in developing
                countries in Africa through volunteering and fundraising. Although we are small, we pride ourselves on
                providing a safe, fulfilling and enjoyable experience for our volunteers. Gideon Korda, our founder, and
                project manager for all volunteer destinations, has many years of experience running volunteering
                projects and is completely committed to the welfare of our volunteers while on placement.
            </p>
            <p>
                Also, two of our British-born directors, Kevin Alderson and Hannah Price, have spent time
                in Ghana as volunteers themselves. Kevin was involved mainly in building, but also did some teaching.
                Hannah is a medical doctor and volunteered in a hospital. Both directors are willing to respond to
                any queries concerning these particular placements or, indeed, any aspect of volunteering
                with Greenfield Foundation.
            </p>

            <p><b>New destination for 2024!</b> We have been operating in <b>Ghana</b> since we began, but we are
                pleased to announce that we are now also ready to place international volunteers in <b>Kenya</b>. We are
                also, currently, in the process of negotiating a volunteering partnership with an NGO in Malawi. We are
                expecting this to be completed this year.
            </p>
            <p>
                Why don't you join us and make a world of difference to disadvantaged communities in Africa? Our
                volunteer programmes include working on a variety of activities as follows:
            </p>
            <ul>
                <li>Building & Refurbishment</li>
                <li>Medical & Healthcare</li>
                <li>Teaching & Orphanage Childcare</li>
                <li>Sports Coaching & Development</li>
                <li>Dance, Music & Art</li>
            </ul>
            <p>
                Volunteers with, or without, expertise in these fields are ALL welcome, as there are a variety of
                levels in which assistance can be given. Volunteers may be allowed to be involved in more than
                one project during their visit, subject to their length of stay, placement availability, distance between
                projects, etc. Please note that volunteering opportunities may vary between destinations, and these
                may vary over time. For example, building and refurbishment projects are not necessarily continuous in
                a particular destination.
            </p>
