            <p>
                If you are 18 or over you can apply to volunteer with us.
                Greenfield is a non-profit organisation that aims to help disadvantaged communities in developing
                countries in Africa through volunteering and fundraising. Although we are small, we pride ourselves on
                providing a safe, fulfilling and enjoyable experience for our volunteers. Gideon Korda, our founder, and
                project manager for all volunteer destinations, has many years of experience running volunteering
                projects and is completely committed to the welfare of our volunteers while on placement.
            </p>
            <p>
                Also, two of our British-born directors, Kevin Alderson and Hannah Price, have spent time
                in Ghana as volunteers themselves. Kevin was involved mainly in building, but also did some teaching.
                Hannah is a medical doctor and volunteered in a hospital. Both directors are willing to respond to
                any queries concerning these particular placements or, indeed, any aspect of volunteering with us.
            </p>
            <p> We currently operate in various locations in the <b>Volta Region of Ghana</b> and in <b>Kibera, an
                impoverished district of Nairobi, Kenya</b>.
            </p>
            <p>
                Why don't you join us and make a world of difference to disadvantaged communities in Africa? We offer
                a range of activities like building & refurbishment, academic teaching, sports coaching, and medical &
                healthcare. Please note that although the types of activities we offer are similar in both destinations,
                their <i>scope</i> may vary, so please check the individual volunteering pages for information specific
                to our programmes in
                <a class="orange-panel-link" href="{{ url_for('volunteeringkenya') }}">Kenya </a> and
                <a class="orange-panel-link" href="{{ url_for('volunteeringghana') }}">Ghana.</a>
            </p>
            <p>
                We also advise <b>Northumbria University students</b> to check out the implications of the Turing
                Scheme grant, for both Kenya and Ghana, on our
                <a class="orange-panel-link" href="{{ url_for('feescosts') }}">Fees & Costs</a> page.
            </p>
