{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- DEVELOPMENT DESCRIPTION PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">
                Repairs after flooding at Greencard Mtaani, Kenya
            </div>

            <p>
                In early 2024, Greencard Mtaani's Mailaka Education Centre, in Kibera, Nairobi, was flooded as a
                result of heavy rains causing the nearby river to overflow. In response to Greencard's appeal,
                Greenfield provided funding, in June 2024, to help it buy materials to repair and refurbish the
                classrooms that were damaged. Some of the funding was also used to build stronger defences around
                the classrooms to help stop this happening again. The large stones, shown below, will form part of
                these defences.
            </p>

        </div>
        <!-- /.DEVELOPMENT DESCRIPTION PANEL -->
    </div>

    <!-- DEVELOPMENT IMAGES -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/kenya_development/dev_refurbishment_after_flood/carrying_cement_bags.jpg" class="group-image">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/kenya_development/dev_refurbishment_after_flood/large_stones.jpg" class="group-image">
        <img src="static/images/development_funding/kenya_development/dev_refurbishment_after_flood/van_with_materials.jpg" class="group-image">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/kenya_development/dev_refurbishment_after_flood/stored_cement_bags.jpg" class="group-image">
    </div>
    <!-- /.DEVELOPMENT IMAGES -->

</section>

{% endblock %}