{% extends 'base.html' %}
{% block content %}

<!-- SECTION 1 -->
<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- DEVELOPMENT DESCRIPTION PANEL 1-->
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">
                Development of village school at Iddrisu-Krom
            </div>
            <p>
                Iddrisu-Krom is small, remote village in the Afram Plains district of Ghana.
                This development was a longer project that Greenfield undertook between 2020 and 2023. It was quite a
                difficult project for us both because of its remoteness and, also, because there were no builders
                in the village. Most of the people who live there are farmers. Nevertheless, we were determined to make
                a difference there because Iddrisu is one of the most disadvantaged communities that we know of in Ghana.
                It has no electricity, no internet, and no phone connections. Water has to be carried from a standpipe,
                a kilometer away, and which is shared with two other villages.
            </p>
            <p>
                Our project included not only extending
                the village school but refurbishing the old one. We also supplied new desks for the children a long with
                educational supplies, such as books, stationery, fabrics for school uniforms, etc. After the school was
                finished we then built an accommodation block to house 3 teachers. This was to save teachers commuting
                long distances to on a daily basis, which was having a negative impact on the contact time teachers
                could have with the children.
            </p>
            <p>
                The set of photos, immediately below, show the initial work of building the school extension, such as
                casting the concrete blocks, digging the foundations, erecting the walls, and building the roof. To
                save money, the concrete blocks were actually made in the village, rather than buying them from the
                nearest town and having them transported in.
            </p>
            <p>
                We wish to offer our sincere thanks to our donors for making this massive project possible.
                <b class="purple-background">😁</b>!
            </p>
        </div>
        <div class="general-panel green-panel flex-with-text">
            <p>A PERSONAL NOTE FROM KEVIN ALDERSON, UK COUNTRY DIRECTOR</p>
            <p>
                We would also like to extend our sincere gratitude to our Project Director, Gideon Korda, who
                generously gave time and effort to ensure this difficult project turned out so successfully.
                Even travelling to Iddrisu took many, many hours, and was all part of his stoic effort
                toward the project. I visited Ghana in November 2023, and travelled with Gideon to the project
                in Iddrisu by public transport. It involved many connections (bus, ferry, bus and taxi car) with
                many long waits in-between to get there. I now appreciate the real sacrifice that he made on behalf
                of Greenfield and Iddrisu. He not only project-managed the entire works but also participated in
                the physical construction as needed. Well done, Gids! I can't thank you enough!
            </p>
        </div>

        <!-- /.DEVELOPMENT DESCRIPTION PANEL 1 -->
    </div>

    <!-- DEVELOPMENT IMAGES -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/villagers_making_blocks.jpg"
             class="group-image" data-toggle="tooltip" data-placement="right" title="Villagers making building blocks.">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/made_blocks.jpg"
             class="group-image" data-toggle="tooltip" data-placement="right" title="Finished blocks.">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/digging_the_foundations.jpg"
             class="group-image" data-toggle="tooltip" data-placement="right" title="Digging the school extension foundations.">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/digging_the_foundations_2.jpg"
             class="group-image" data-toggle="tooltip" data-placement="right" title="Digging the foundations.">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/starting_the_extension.jpg"
             class="group-image" data-toggle="tooltip" data-placement="right" title="Starting the extension walls.">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/extension_blockworks_1.jpg"
             class="group-image" data-toggle="tooltip" data-placement="right" title="The completed walls.">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/roof_frame.jpg"
             class="group-image" data-toggle="tooltip" data-placement="right" title="The completed roof frame.">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/building_roof.jpg"
             class="group-image" data-toggle="tooltip" data-placement="right" title="Laying the corrugated roofing sheets.">
    </div>

    <!-- /.DEVELOPMENT IMAGES -->

</section>
<!-- /.SECTION 1 -->

<!-- SECTION 2 -->
<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- DEVELOPMENT DESCRIPTION PANEL 2 -->
        <div class="general-panel green-panel flex-with-text">
            <p>
                The first photo below shows a full view of the school with the roof completed. The rest of
                images show the works carried out after that i.e. completion of the veranda, interior floor,
                external plastering and paintwork.
            </p>
        </div>
        <!-- /.DEVELOPMENT DESCRIPTION PANEL 2 -->
    </div>

    <!-- DEVELOPMENT IMAGES -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/full_view_roof_completed.jpg" class="group-image">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/view_of_extension.jpg" class="group-image">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/inside_extension.jpg" class="group-image">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/men_plastering.jpg" class="group-image">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/ghana_development/dev_iddrisu_school/gids_painting.jpg" class="group-image">
    </div>

    <!-- /.DEVELOPMENT IMAGES -->

</section>
<!-- /.SECTION 2 -->

{% endblock %}