{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- DEVELOPMENT DESCRIPTION PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">
                Development of village school at Iddrisu-Krom
            </div>

            <p>
                This page is still being developed. A description and photos will be shown here in due course!
            </p>
        </div>
        <!-- /.DEVELOPMENT DESCRIPTION PANEL -->
    </div>

    <!-- DEVELOPMENT IMAGES -->
    <!-- /.DEVELOPMENT IMAGES -->

</section>

{% endblock %}