{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- DEVELOPMENT DESCRIPTION PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">
                New Day Care Centre at Peki Tsame Primary School
            </div>

            <p>
                In June 2024, Greenfield provided funding to help this school develop a Day Care Centre, within its
                premises. The pictures below show the room as it was being developed. When completed, it will be used
                by children below 3 years as a rest and play area during school hours. The school is located in the
                Volta Region of Ghana.
            </p>
            <p>
                We wish to offer our sincere thanks to a generous UK supporter of Greenfield for making this possible!
                <b class="purple-background">😁</b>
            </p>
        </div>
        <!-- /.DEVELOPMENT DESCRIPTION PANEL -->
    </div>

    <!-- DEVELOPMENT IMAGES -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/ghana_development/dev_peki_tsame_school/childrens_rest_room_1.jpg" class="group-image">
        <img src="static/images/development_funding/ghana_development/dev_peki_tsame_school/childrens_rest_room_2.jpg" class="group-image">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/ghana_development/dev_peki_tsame_school/childrens_rest_room_3.jpg" class="group-image">
        <img src="static/images/development_funding/ghana_development/dev_peki_tsame_school/childrens_rest_room_4.jpg" class="group-image">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/development_funding/ghana_development/dev_peki_tsame_school/childrens_rest_room_5.jpg" class="group-image">
        <img src="static/images/development_funding/ghana_development/dev_peki_tsame_school/childrens_rest_room_6.jpg" class="group-image">
    </div>
    <!-- /.DEVELOPMENT IMAGES -->

</section>

{% endblock %}