{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/volunteers_making_cement.jpg"
             alt="Volunteers making cement for a school construction project in Ghana">
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <!-- ACTIVITY PANEL -->
        <div class="activity-panel music-dance">
            <span class="uppercase panel-title">Want to volunteer?<br></span>
            <p>
                Greenfield Africa was founded in Ghana in 2013 by Gideon Korda. After many years of working with a
                UK-based NGO, Gideon decided to establish Greenfield Africa Foundation with the sole aim of contributing
                to community development especially in favour of disadvantaged communities which have been neglected by
                the authorities.
            </p>
            <p>
                In Ghana, Greenfield undertakes the following projects: Teaching & Childcare placement, Medical &
                Healthcare placement, Building placement and Sport and Coaching placement. These projects are all
                open to both young individuals and any category of persons interested to physically partake in any
                of our projects.
            </p>
            <p>
                General information about Ghana can be found at:<br>
                <a class="general-link" target="_blank" href="https://en.wikipedia.org/wiki/Ghana">https://en.wikipedia.org/wiki/Ghana</a>
            </p>
        </div>
         <!-- /.ACTIVITY PANEL-->
    </div>

</section>

{% endblock %}