{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/children_at_mteza_school.jpg"
             alt="">
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- INITIAL APPLICATION PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <span class="uppercase panel-title">Initial application</span>
            <p>
                If you have not already done so, please check our Fees & Costs page before proceeding. Before applying
                you must also have a passport that is valid for another six months after your planned departure date
                <b>from</b> the country you want to volunteer in. This is called the 6-month rule and is applied by
                many African countries.
            </p>
            <p>
                To apply, please email<a class="email-link" href="mailto:kevin_alderson@yahoo.co.uk">kevin_alderson@yahoo.co.uk</a>
                with your chosen destination, type of volunteering activity (or activities, if you wish to do more than one),
                the approximate departure date, and the duration of stay.
            </p>
            <p>
                We want to be sure we can accommodate your choices before proceeding further, so on receipt of your
                email we will check and confirm if your choices are available. If they are not, we will offer some
                alternatives instead. There is no obligation to proceed if they are not suitable.
            </p>
            <p>
                You can also use the above email address to make any enquiries about volunteering with us, or
                about Greenfield Africa in general.
            </p>
        </div>
        <!-- ./INITIAL APPLICATION PANEL -->

        <!-- ONCE YOU HAVE ENROLLED PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Once you have enrolled</span>
            <p>
                Once we have offered you a suitable placement, and you decide to join our program by paying our fee,
                then we will send you our <b>pre-departure pack</b>.
            </p>
            <p>
                This document will provide you all the details and advice you need to obtain a visa, volunteer travel
                insurance, vaccinations, medication, etc. We recommend you give yourself at least 8 weeks between
                enrolling on our program and your planned departure date, to book flights and get all necessary
                paperwork before you depart. We will, of course provide support and answer any queries you have during
                this period.
            </p>
        </div>
        <!-- /.ONCE YOU HAVE ENROLLED PANEL-->

    </div>

</section>

{% endblock %}