{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- IMAGE -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="group-image image-bus" src="static/images/teachers_block.jpg"
             alt="Teachers accommodation block in Iddrisu-Krom village, Afram Plains District, Ghana.">
    </div>
    <!-- /.IMAGE -->

    <!-- ACTIVITY PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="activity-panel building-refurb">
            <span class="uppercase panel-title">Building & Refurbishment</span><br><br>
            <p>
                Our building placement project consist of new builds, refurbishments and extensions to existing
                buildings. The types of buildings we work on are schools, clinics, orphanages, toilets etc., usually
                in villages where there is little or no provision from governmental authorities. We have recently
                (November 2023) completed a teachers’ accommodation block to cater for 3 teachers in a remote village
                of Ghana called Iddrisu-Krom. In addition to the teacher’s accommodation, we had in 2021/2022 extended
                and refurbished the village school building with a new classroom and provided furniture and
                educational materials.
            </p>
            <p>
                In Ghana, Kenya and Malawi, many families cannot afford to pay for their children’s school fees,
                so the latter often end up with few skills or qualifications, and are invariably condemned to a
                life of menial work and poverty. Greenfield’s objective is to break this cycle of poverty. You
                can be part of that by contributing to our building projects either through physical volunteer
                participation or through donation. The main work in the villages where building projects are
                executed is mostly farming. If you are interested in seeing how farming is carried out in rural
                parts of Ghana, Kenya or Malawi, a visit to one or more farms can be arranged for you during your
                project.
            </p>
        </div>
    </div>
     <!-- /.ACTIVITY PANEL-->

</section>

{% endblock %}