{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- IMAGE -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="group-image image-activity" src="static/images/teachers_block.jpg"
             alt="Teachers accommodation block in Iddrisu-Krom village, Afram Plains District, Ghana.">
    </div>
    <!-- /.IMAGE -->

    <!-- ACTIVITY PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="general-panel green-panel flex-with-text">
            <div class="uppercase panel-title">Building & Refurbishment</div>
            <p>
                Our building placement project consist of new builds, refurbishments and extensions to existing
                buildings. The types of buildings we work on are schools, clinics, and orphanages, usually in
                villages where there is little, or no, provision from governmental authorities. In November 2023
                we completed a teachers’ accommodation block to cater for 3 teachers in a remote village
                of Ghana called Iddrisu-Krom. In addition to the teacher’s accommodation, we had earlier, in 2021/2022,
                extended the village school with a new classroom. The whole school was then repainted and the broken
                doors and windows were fixed. We also provided some new furniture and educational materials.
            </p>
            <p>
                More recently, over the latter half of 2025, we helped with rebuilding the village school in Logba,
                in the Volta Region, which had fallen into disrepair. This is an ongoing project for us. Foundations
                for 4 new classrooms were recently laid.
            </p>
            <p>
                In Africa many families cannot afford to pay for their children’s school fees, so the children,
                particularly girls, often end up with few skills or qualifications, and are invariably condemned to a
                life of menial work and poverty. Our objective is to break this cycle of poverty. You
                can be part of that by contributing to our building projects either through physical volunteer
                participation or through donation. In Ghana the main work in villages, where our building projects
                are carried out is mostly farming. If you are interested in seeing how farming is carried out in rural
                parts of Ghana, a visit to one or more farms can be arranged for you during your project.
            </p>
        </div>
    </div>
     <!-- /.ACTIVITY PANEL-->

</section>

{% endblock %}