{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- OUR PARTNERS PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">Development at Greencard Mtaani, Kenya</div>

            <p>
                Apart from running volunteering programmes, Greenfield Foundation provides small grants to various,
                and diverse, projects in Ghana and to our partner NGO in Kenya, namely Greencard Mtaani. In time,
                we hope to extend this to Malawi. We are currently in the midst of negotiations with an NGO in that
                country.
            </p>

        </div>
        <!-- /.OUR PARTNERS PANEL -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
       <img src="static/images/carrying_cement_bags.jpg" class="group-image">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/large_stones.jpg" class="group-image">
        <img src="static/images/van_with_materials.jpg" class="group-image">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="static/images/stored_cement_bags.jpg" class="group-image">
    </div>

</section>

{% endblock %}