{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/group_of_children.jpg"
             alt="Group of Ghanaian children of mixed ages.">
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- DONATIONS PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <div class="uppercase panel-title">Donations</div>
            <p>
                Greenfield Foundation raises funds from the public and other sources, as well as from volunteer fees.
                For various reasons, not all projects can be funded by volunteer fees alone. For example, because of
                the high cost of imported building materials or, simply because some projects are too remote to send
                our volunteers to. For cases like these we fund them directly, appointing a trusted local person to
                make the purchases on our behalf. Any donations, large or small, are all welcome. They may be made as
                follows:
            </p>
            <p>
                PAYPAL:<br>
                <a class="general-link" href="https://www.paypal.com/paypalme/GreenfieldAf">paypal.me/GreenfieldAf</a>
            </p>
            <p>
                UK BANK TRANSFERS:<br>
                Account name: Greenfield Africa UK<br>
                Account number: 65622630<br>
                Sort code: 089299 (The Co-operative Bank)<br>
            </p>
            <p>
                Thank you very much!😆
            </p>
        </div>
        <!-- /.DONATIONS PANEL-->
    </div>

</section>

{% endblock %}