{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- EASYFUNDRAISING PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <p>
                <!-- IMAGE LINK -->
                <a target="_blank" href="https://www.easyfundraising.org.uk/support-a-good-cause/step-1/?char=402055&invite=7qbblu&referral-campaign=c2s&utm_campaign=web-referral&fbclid=IwY2xjawN1f1BleHRuA2FlbQIxMQABHjT132o5LScuWyY1-MC_3OjV28iZ_IMU5CI12YKRQIPMPMjF8PbN9Cmcadre_aem_6LlOygGRsXY09HoViZFnUg">
                    <img class="group-image image-activity" src="static/images/easyfundraising_poster.jpg"
                    alt="easyfundraising.com publicity image.">
                </a>
                <!-- /.IMAGE LINK -->
            </p>
        </div>
        <!-- /.EASYFUNDRAISING PANEL-->

        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/group_of_children.jpg"
             alt="Group of Ghanaian children of mixed ages.">
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- DONATIONS PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <div class="uppercase panel-title">Donations</div>
            <p>
                Greenfield Foundation raises funds from the public and other sources, as well as from volunteer fees.
                For various reasons, not all projects can be funded by volunteer fees alone. For example, because of
                the high cost of imported building materials or, simply because some projects are too remote to send
                our volunteers to. For cases like these we fund them directly, appointing a trusted local person to
                make the purchases on our behalf. Any donations, large or small, are all welcome. They may be made as
                follows:
            </p>
            <p class="inline">
                <b>PAYPAL: </b><a class="general-link" href="https://www.paypal.com/paypalme/GreenfieldAf">paypal.me/GreenfieldAf</a>
            </p>
            <p>
                <b>UK BANK TRANSFERS:</b><br>
                Account name: Greenfield Africa UK<br>
                Account number: 65622630<br>
                Sort code: 089299 (The Co-operative Bank)<br>
            </p>

        <!-- IMAGE -->
<!--
        <img class="group-image image-activity img-fluid max-width: 50% height: auto" src="static/images/logo_black_gift_aid.svg"
             alt="Group of Ghanaian children of mixed ages.">
        &lt;!&ndash; /.IMAGE &ndash;&gt;
-->
            <p>
                <b>GIFT AID YOUR DONATION!</b><br>
                Did you know you can make your donations go further? Gift Aid is a simple way to boost your donations
                at no extra cost to yourself. If your donation is eligible, Greenfield will receive an extra 25p from
                HMRC for every £1 you donate.
            </p>
            <p>
                You can download our Gift Aid declaration form
                <a class="general-link" target="_blank" href="static/documents/greenfield_gift_aid_form_template.pdf"><u>here</u></a>.
            </p>

            <p>
                Thank you very much!😆
            </p>
        </div>
        <!-- /.DONATIONS PANEL-->
    </div>

</section>

{% endblock %}