{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- FEE PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <div class="uppercase panel-title">Want to volunteer?</div>
            <p>
                <b>Please note that you must be 18 or over to apply to volunteer with us.</b> Before you start to apply,
                please make sure you have read our other pages on the destinations where we operate and also the
                types of volunteering activities we offer.
            </p>
            <p>
                PLEASE NOTE that we require a fee from our international volunteers in order to cover the costs associated
                with their stay e.g. airport pick-up and drop-off, transport to & from projects, accommodation
                and food. To ensure their welfare during their stay we also employ a local crew leader. Some 80% of the
                volunteer fee is used to cover these costs. The remaining balance of the fee is used to fund the project
                they are working on. The types of costs we cover are listed below.
            </p>
            <p>
                The directors, trustees and officers of Greenfield Foundation work voluntarily and receive NO remuneration
                from fees paid by international volunteers. The only money spent on wages is in the host country to pay
                for the services of the crew leader, and to hire local tradespeople and other experts, where
                technical guidance or support is needed e.g. in the construction of buildings, such as schools or
                clinics. Any further financial support given to the project by volunteers from personal donations or
                fundraising is more than welcome.
            </p>
            <p>
                <b>We do not charge an initial registration fee for our programmes</b>, but rather a flat fee as per the
                table below depending on the duration of your placement. However, we do require a deposit of £50 per
                person, regardless of placement duration. Please note this is non-refundable, except under exceptional
                circumstances. The deposit will be deducted from the fee total when you make your final payment.
            </p>

            <h5>TABLE OF FEES</h5>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">DURATION (WEEKS)</th>
                        <th scope="col">VOLUNTEER FEE (£)</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">2</th>
                        <td>450* / 500</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>530</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>612</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>773</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>935</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>1,097</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>1,259</td>
                    </tr>
                    <tr>
                        <th scope="row">12+</th>
                        <td>Negotiable</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="100%">* = applies to Ghana only</th>
                    </tr>
                </tfoot>
            </table>

            <h5>SUBSEQUENT VISITS</h5>
            <p>
                Please note any subsequent volunteer visits attract a discount of 20% on fees that are in force at the time of booking. This applies
                to any duration of stay on the very first visit.
            </p>

        </div>
         <!-- /.FEE PANEL-->

        <!-- PROJECT COSTS -->
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">Project costs</div>
            <p>
                These are the <b>types</b> of costs associated with your chosen volunteering program. The remainder
                of your fee, after costs for your welfare, etc., are spent on the project, or projects, you are working
                on. It is hard to put a figure on these items because they vary so widely, depending on the project type
                and the host country. Items that have to be imported are particularly vulnerable to inflation caused by
                market, or government, devaluations in the local currency.
            </p>
            <ul class="list-item-margin">
                <li>
                    BUILDING & REFURBISHMENT – cement, stones, tools, personal protective equipment (PPE), wood, sheet
                    roofing, fixings, hire of tradespeople, etc. These are paid for directly by Greenfield. Most
                    of the labour for construction projects is given freely by villagers and, of course, volunteers.
                    Some local tradespeople are hired where technical expertise is required, such as in the construction
                    of buildings.
                </li>
                <li>
                    MEDICAL & HEALTHCARE – funds donated to projects by Greenfield to buy medication, spectacles, basic
                    medical equipment (syringes, stethoscopes, etc.), clinic furniture, etc.
                </li>
                <li>
                    TEACHING & ORPHANAGE CARE – funds donated to projects by Greenfield to buy books, stationery, toys,
                    games, arts & crafts materials, sports equipment, classroom or orphanage furniture, clothing for
                    orphans, etc.
                </li>
                <li>
                    SPORTS - funds donated by Greenfield to buy or hire sports equipment, team strips, use of sports
                    facilities, transport, etc.
                </li>
                <li>
                    MUSIC, DANCE & ART - funds donated by Greenfield to buy dance costumes, music equipment, art
                    materials, etc.
                </li>
            </ul>
        </div>
        <!-- /.PROJECT COSTS -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/volunteers_making_cement.jpg"
             alt="Volunteers making cement for a school construction project in Ghana">
        <!-- /.IMAGE -->

        <div class="general-panel green-panel flex-with-text">
            <h4 class="inline deep-margins">
                Ready to volunteer? Apply <a class="general-link" href="{{ url_for('applytovolunteer') }}">here!</a>
            </h4>
        </div>

        <!-- WHAT FEE INCLUDES PANEL-->
        <div class="general-panel orange-panel flex-with-text">
            <span class="uppercase panel-title">What is included in your fee</span>
            <ul>
                <li>24 hour airport pick-up and drop-off in host country</li>
                <li>In-country orientation meeting with local crew leader</li>
                <li>Accommodation in main volunteer house</li>
                <li>Accommodation in village volunteer house, if project is remotely located</li>
                <li>Meals (breakfast, lunch & dinner)</li>
                <li>24 hour in-country support and assistance from local crew leader</li>
                <li>Transport to and from project, or projects</li>
            </ul>

            <span class="uppercase panel-title">What is not included in your fee</span><br>
            <ul>
                <li>Flights to and from airport in host country</li>
                <li>Travel insurance</li>
                <li>Valid passport</li>
                <li>Visa fee</li>
                <li>Disclosure and Barring Service (DBS) check*</li>
                <li>Pre-trip vaccinations / anti-malarial medication</li>
                <li>Personal travel, sightseeing visits, meals away from the volunteer house, etc.</li>
            </ul>
        <p>
            * Please note a DBS check (criminal record check) is a mandatory requirement of Greenfield's
            for UK volunteers. We will provide more information on how to obtain one in the pre-departure pack.
            The latter is sent once we have received your deposit.<b> If you have any concerns about the DBS check,
            before you pay your deposit, then please email Kevin Alderson, as per the address further below.</b>
        </p>
        </div>
        <!-- /.WHAT FEE INCLUDED PANEL-->

        <!-- /.APPROXIMATE VOLUNTEER COSTS PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Volunteer costs</span>
            <p>
                These costs are APPROXIMATE and effective as of March 2024:
            </p>

            <ul>
                <li>Return flights from (UK / Europe) to
                    <ul>
                        <li>Ghana / Kenya: £700 to £1000</li>
                        <li>Malawi: £850 to £1300</li>
                    </ul>
                </li>
                <li>Travel insurance: £120 (budget) to £160 (premium) for 4 weeks</li>
                <li>Visa application fee: £60 (Ghana), $50 (Kenya), $50 (Malawi)</li>
                <li>DBS check fee: £21.50</li>
                <li>Vaccination (only mandatory for yellow fever): £60 to £85</li>
                <li>Anti-malarial medication: £40 - £110, depending on type of medication</li>
            </ul>
            <p>
                Please note that the cost of flights vary depending on the time between the flight booking and
                the date of your trip i.e. they get more expensive as the departure date gets closer. Once you
                have paid your deposit, we recommend that you book your flights straight away to avoid
                extra expense.
            </p>
        </div>
        <!-- /.APPROXIMATE VOLUNTEER COSTS PANEL -->

        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/greencard_mtaani_office.jpg"
             alt="Greenfield Mtaani NGO staff standing outside office in Kibra district, Nairobi.F">
        <!-- /.IMAGE -->

        <div class="general-panel orange-panel flex-with-text">
            <h4 class="inline deep-margins">
                Ready to volunteer? Apply <a class="email-link" href="{{ url_for('applytovolunteer') }}">here!</a>
            </h4>
        </div>

    </div>

</section>

{% endblock %}