
{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- IMAGE -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="group-image image-activity" src="static/images/akosombo_bridge_lake_volta.jpg"
             alt="Children exercising to music at Project Elimu in Kibra, Nairobi, Kenya.">
    </div>
    <!-- /.IMAGE -->

    <!-- ACTIVITY PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="activity-panel music-dance">
            <span class="uppercase panel-title">Project Ghana<br></span>
            <p>
                Greenfield Africa was founded in Ghana in 2013 by Gideon Korda. After many years of working with a
                UK-based NGO, Gideon decided to establish Greenfield Africa Foundation with the sole aim of contributing
                to community development especially in favour of disadvantaged communities which had been neglected by
                the authorities.
            </p>
            <p>
                In Ghana, Greenfield undertakes the following projects: Teaching & Childcare placement, Medical &
                Healthcare placement, Building placement and Sport and Coaching placement. These projects are all
                open to both young individuals and any category of persons interested to physically partake in any
                of our projects. Greenfield's projects are all flexible for alternative arrangements.
            </p>
        </div>
    </div>
     <!-- /.ACTIVITY PANEL-->

</section>

{% endblock %}