{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- IMAGE CAROUSEL -->
        <!--The div below is always the 1st element in the column, regardless of viewport size. -->
        <div id="carouselExampleAutoplaying" class="carousel slide">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="static/images/volunteer_cutting_wood.jpg" class="group-image d-block w-100"
                         alt="Volunteer cutting wood with help of local worker at Malaika School, Kibra, Nairobi.">
                </div>

                <div class="carousel-item">
                    <img src="static/images/volunteers_making_cement.jpg" class="group-image d-block w-100"
                         alt="Volunteers making cement for a school building project in Ghana.">
                </div>

                <div class="carousel-item">
                    <img src="static/images/pe_class.jpg" class="group-image d-block w-100"
                         alt="Children doing P.E. with volunteers in Malaika School Kibra, Nairobi.">
                </div>

                <div class="carousel-item">
                     <img src="static/images/earth_painting.jpg" class="group-image d-block w-100"
                          alt="Painting of Planet Earth on the wall of Project Elimu centre in Kibra, Nairobi. Caption above the mural is Save Our Planet. Children are playing in front of the mural.">
                </div>

                <div class="carousel-item">
                    <img src="static/images/laying_blocks.jpg" class="group-image d-block w-100"
                         alt="Volunteer laying blocks at Malaika School Kibra, Nairobi.">
                </div>

                <div class="carousel-item">
                    <img src="static/images/football.jpg" class="group-image d-block w-100"
                         alt="Youths playing football in Kibra, Nairobi.">
                </div>

                <div class="carousel-item">
                    <img src="static/images/outdoor_class.jpg" class="group-image d-block w-100"
                         alt="Students being taught outside at Mteza LEA school, Mteza village, Malawi.">
                </div>

                <div class="carousel-item">
                    <img src="static/images/pushing_heavy_cart.jpg" class="group-image d-block w-100"
                         alt="Volunteer and labourers pushing cart laden with large stones at Malaika School Kibra, Nairobi.">
                </div>

                <div class="carousel-item">
                    <img src="static/images/volleyball.jpg" class="group-image d-block w-100"
                         alt="Children playing volleyball at a school in rural Ghana.">
                </div>

                <div class="carousel-item">
                    <img src="static/images/volunteer_doing_carpentry.jpg" class="group-image d-block w-100"
                         alt="Volunteers doing carpentry work for a school in Ghana.">
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- /.IMAGE CAROUSEL -->

        <!-- TEXT PANEL - VOLUNTEER #1 -->
        <!-- This <div> is both the 2nd element in the column and page, for xs & sm viewport sizes. -->
        <!-- It is hidden for viewport sizes above md. -->
        <div class="general-panel orange-panel flex-with-text d-md-none">
            <div class="uppercase panel-title">Volunteer with us!</div>
            {% include 'subtemplates/volunteerpanel.html' %}
        </div>
        <!-- /.TEXT PANEL - VOLUNTEER #1 -->

        <!-- TEXT PANEL - SUPPORT #1 -->
        <!-- This div is the 3rd element in the page for xs & sm viewport sizes. -->
        <!-- It becomes the 2nd element in the page for viewport sizes above md. -->
        <div class="general-panel green-panel flex-with-text">
            <div class="uppercase panel-title">Support our causes!</div>
            {% include 'subtemplates/supportpanel.html' %}
        </div>
        <!-- /.TEXT PANEL - SUPPORT #1 -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- TEXT PANEL - VOLUNTEER #2 -->
        <!-- This div is the 1st element in this column, for md+ viewport sizes. -->
        <!-- It is hidden for viewport sizes below md. See subtemplates/volunteerpanel.html for text. -->
        <div class="general-panel orange-panel flex-with-text d-none d-md-block">
            <div class="uppercase panel-title">Volunteer with us!</div>
            {% include 'subtemplates/volunteerpanel.html' %}
        </div>
        <!-- /.TEXT PANEL - VOLUNTEER #2 -->
    </div>

</section>

{% endblock %}