{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- VOLUNTEERING PANEL -->
        <div class="local-news">
            <span class="uppercase panel-title">Volunteer with us!</span><br>

            <p>Greenfield Africa is a non-profit organisation, that aims to help disadvantaged communities in developing
               countries in Africa through volunteering and fundraising. Although we are small, we pride ourselves on
               providing a safe, fulfilling and enjoyable experience for our volunteers. Gideon Korda, our founder, and
               project manager for all volunteer destinations, has many years of experience running volunteering
               projects and is completely committed to the welfare of our volunteers while on placement.
            </p>
            <p>
                Also, two of our English-speaking directors, Kevin Alderson and Hannah Price, have spent time
                in Ghana as volunteers themselves. Kevin was involved mainly in building, but also did a little
                teaching. Hannah is a medical doctor and volunteered in a hospital. Both directors are willing to
                respond to any queries concerning these particular placements or, indeed, any aspect of volunteering
                with Greenfield Africa.
            </p>

            <p>New destinations for 2024! Come and volunteer in Ghana, Kenya or Malawi and make a world of difference
               to the disadvantaged communities in Africa! Our volunteer programmes include working on a variety of
               activities as follows:
            </p>

            <ul>
                <li>Building & Refurbishment</li>
                <li>Medical & Healthcare</li>
                <li>Teaching & Orphanage Childcare</li>
                <li>Sports Coaching & Development</li>
                <li>Dance, Music & Art</li>
            </ul>

            <p>
                Volunteers with, or without, expertise in these fields are ALL welcome, as there are a variety of
                levels in which assistance can be given. Volunteers may be allowed to be involved in more than
                one project during their visit, subject to their length of stay, placement availability, distance between
                projects, etc. Please note that volunteering opportunities may vary between destinations, and these
                may vary over time. For example, building and refurbishment projects are not necessarily continuous in
                a particular destination.
            </p>
            <!-- /.VOLUNTEERING PANEL -->
        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- IMAGE CAROUSEL -->
        <div id="carouselExampleAutoplaying" class="group-image carousel slide" data-bs-ride="carousel">
             <div class="carousel-inner">

                <div class="carousel-item active">
                     <img src="static/images/earth_painting.jpg" class="group-image d-block w-100" alt="Painting of Planet Earth on the wall of
                          Project Elimu centre in Kibra, Nairobi. Caption above the mural is Save Our Planet. Children are
                          playing in front of the mural.">>
                </div>

                <div class="carousel-item">
                     <img src="static/images/football.jpg" class="group-image d-block w-100" alt="Youths playing
                        football in Kibra, Nairobi">
                </div>

                <div class="carousel-item">
                     <img src="static/images/outdoor_class.jpg" class="group-image d-block w-100" alt="Students being
                      taught outside at Mteza LEA school, Mteza village, Malawi.">
                </div>

                <div class="carousel-item">
                     <img src="static/images/volleyball.jpg" class="group-image d-block w-100" alt="Children playing
                        volleyball in Ghana">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- /.IMAGE CAROUSEL -->

        <!-- DONATION PANEL -->
        <div class="donation-panel">
            <span class="uppercase panel-title">Donate to our causes!</span><br>

            <p>We also give grants to various projects in the country where we have our volunteer programmes. These
               tend to given for projects that are too remote to send volunteers to, or are given to top up more
               expensive projects, for example for building materials, where volunteer fees do not fully cover the
               costs. If you are not able to volunteer, please consider making a donation.
            </p>
            <p class="inline">
                You can donate <a class="donation-link" href="{{ url_for('donate') }}"><b>here.</b></a>
            </p>
        </div>
        <!-- /.DONATION PANEL -->
    </div>

</section>

{% endblock %}