{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- GALLERY -->
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <figure class="figure image-gallery">
            <img src="static/images/grantdevelopment/kenya/verandarenovation/carrying_cement_bags.jpg" class="figure-img img-fluid rounded" alt="...">
        </figure>
    </div>

    <div>
        <figure class="figure image-gallery">
            <img src="static/images//grantdevelopment/kenya/verandarenovation/large_stones.jpg" class="figure-img img-fluid rounded" alt="...">
        </figure>

    </div>

    <!-- /.GALLERY -->

</section>

{% endblock %}