{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/greencard_mtaani.jpg"
             alt="Group of people standing outside the head office of Greencard Mtaani NGO, Kibra, Nairobi.">
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- TEXT PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Project Kenya</span>
            <p>
                In Kenya, we work in partnership with two inner-city NGOs in the district of Kibra, an impoverished
                district of Nairobi. The NGOs are called Greencard Mtaani and Project Elimu, respectively.
                They are both delivering some remarkable work through the delivery of quality education, dance and music
                development, digital skills sports, and other activities to empower children to learn and develop
                life-changing talents, confidence and skills.
            </p>
            <p>
                We believe that supporting these two organisations through volunteer programmes and project funding
                will make a huge difference to the lives of vulnerable children, especially their socioeconomic
                activities. The activities of both NGOs fit nicely with regard to the volunteer activities we want to
                provide. Suitable, secure accommodation to house our volunteers is close by in a safe neighbourhood
                a short distance from Kibra. There are bars, restaurants and shops a short walk from the estate in
                which the volunteer house is located. A local English-speaking couple, both live in and manage the house.
            </p>
            <p>
                If you decide to volunteer with us in Kenya, you need to book your outbound flight to Nairobi's main
                airport, Jomo Kenyatta International Airport (IATA code: <b>NBO</b>). Flights to Kenya are operated by
                a number of carriers from the UK, including KLM, Air France, British Airways and Kenya Airways. Most
                flights from Newcastle, and other major UK provincial cities, include a transfer via a European hub
                such as Amsterdam, Paris, Frankfurt, etc. Some direct flights are available from London.
            </p>

            <p>
                General information about Kenya can be found at:<br>
                <a class="general-link" target="_blank" href="https://en.wikipedia.org/wiki/kenya">https://en.wikipedia.org/wiki/kenya</a>
            </p>
        </div>
        <!-- /.TEXT PANEL-->
    </div>

</section>

{% endblock %}