{% extends 'base.html' %}
{% block content %}

<section class="row" xmlns="http://www.w3.org/1999/html">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/classroom_mteza_school.jpg"
             alt="Teacher in classroom with large class of students at Mteza LEA school, Malawi.">
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- TEXT PANEL: PROJECT MALAWI -->
        <div class="general-panel green-panel flex-with-text">
            <div class="uppercase panel-title">Project Malawi (upcoming)</div>
            <p class="panel-title">
                Please note this is a FUTURE destination.
            </p>
            <p>
                We are still making arrangements with local
                organisations in Malawi with respect to provision of accommodation, meals, airport transfers, etc.
                We are hoping to complete these this year.
            </p>
            <p>
                This potential project came about as a result of a 10-day visit to Malawi by Gideon and Kevin in
                November 2023. This was part of their research and project assessment mission to extend Greenfield’s
                help in Africa, and to also offer more destinations to volunteers.
            </p>
            <p>
                We believe that Malawi has a good potential for volunteer opportunities, such as in teaching, building
                & refurbishment and sporting development. We hope to operate in the village of Mteza and surrounding
                settlements. Teaching involves assisting children from 2 to 15 years of age to understand basic English,
                Mathematics and other academic subjects. Building placements involve providing physical labour for new
                construction, repairs and refurbishment of school buildings. These include classrooms, toilets, offices,
                storage rooms, etc. Finally, sport and coaching placement entails teaching various kinds of sporting
                activities such as netball, volleyball and football that the schools undertake.
            </p>
            <p>
                Even compared to other African countries, Malawi is a very poor country, For example, Malawi’s power
                sector is one of the most severely constrained in Africa – less than 10% of the population of 18 million
                is connected to the electrical grid. Most electricity provision is in the cities. For 80% of the
                population living in rural areas, access to electricity is less than 1%.
            </p>
            <p>

                Deforestation is also a major
                concern estimated to be around of 33,000 hectares per year. We observed this to be true in the rural
                area where we stayed, with few trees or bushes to be seen between fields on farmland. This is mainly
                attributed to agriculture expansion, tobacco growing, and brick-burning.
            </p>
            <p>
                General information about Malawi can be found at:<br>
                <a class="general-link" target="_blank" href="https://en.wikipedia.org/wiki/malawi">https://en.wikipedia.org/wiki/malawi</a>
            </p>
        </div>
        <!-- /.TEXT PANEL: PROJECT MALAWI -->
    </div>

</section>

{% endblock %}