{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/classroom_mteza_school.jpg"
             alt="Teacher in classroom with large class of students at Mteza LEA school, Malawi.">
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- TEXT PANEL: PROJECT MALAWI -->
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Project Malawi</span>
            <p>
                This project came as a result of a 10-day visit to Malawi by Gideon and Kevin in November 2023 as
                part of the Greenfield Africa’s research and project assessment mission.
            </p>
            <p>
                In order to provide a desirable and professional community development projects, Greenfield has
                entered into a partnership with a British-ran NGO, African Vision Malawi (AVM), which is registered
                under the laws of Malawi. AVM is involved in a number of humanitarian activities which include but
                not limited to provision of educational and healthcare delivery infrastructure, training of young
                adults in various vocational skills and agriculture empowerment activities. AVM has a famous training
                centre called Sam’s Village, Mteza, which is built on a 17-acre piece of land and about 25 minutes
                drive from Kamuzu International Airport. It has comfortable accommodation for visiting volunteers to
                stay at, while undertaking their various project placements.
            </p>
            <p>
                Currently, Greenfield Africa provide opportunity for volunteers to participate in education, building
                and sporting activities in the villages nearby Sam’s Village. Teaching involves assisting children
                from the age of 2 to 15 years of age to understand basic English, Mathematics and general academic
                subjects. Building placement involves providing physical labour in building and refurbishing school
                buildings, such as classrooms, toilets, etc. Finally, sport and coaching placement entails teaching
                various kinds of sporting activities such as netball, volleyball and football that the schools undertake.
            </p>
            <p>
                General information about Malawi can be found at:<br>
                <a class="general-link" target="_blank" href="https://en.wikipedia.org/wiki/malawi">https://en.wikipedia.org/wiki/malawi</a>
            </p>
        </div>
        <!-- /.TEXT PANEL: PROJECT MALAWI -->
    </div>

</section>

{% endblock %}