{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- IMAGE -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="group-image image-activity" src="static/images/medical_team.jpg"
             alt="Medical team with volunteer.">
    </div>
    <!-- /.IMAGE -->

    <!-- ACTIVITY PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Medical & Healthcare</span>
            <p>
                Our medical and healthcare projects provide volunteers experience of healthcare provision in stable
                but developing countries. All levels of experience are welcome, as assistance is needed across a
                range of activities in health education, first aid and more advanced medical care. As a volunteer you
                will not only gain experience and skills in healthcare but will, inevitably, broaden your horizons
                as to the social issues surrounding healthcare provision in developing countries.
            </p>
            <p>
                Placements are generally based in town and city hospitals but may also take place in rural clinics.
                We can also place volunteers on a medical outreach programme. This is where a local team of trained
                medical staff, such as nurses, midwives, doctors and nutritionist, visit people in their homes and
                communities that are completely cut-off from national development. This service is aimed at providing
                health assistance to disadvantaged people who cannot access medical treatment or advice at either a
                clinic or hospital, because travelling is difficult due to lack of mobility, poor health, pregnancy,
                high travelling costs, poor roads, etc. Volunteers can choose to work in any of these settings. All
                volunteers will be working under the supervision of a qualified medical professional.
            </p>
            <p>
                Health education is severely lacking in rural parts of Ghana, Kenya and Malawi but is fundamental to
                preventing health problems for those who can least afford to be ill. Volunteers can assist in providing
                advice on basic hygiene, healthy eating, HIV/AIDS awareness, the prevention of mother and baby deaths
                during childbirth, prevention of malaria and many other related issues.
            </p>
        </div>
    </div>
     <!-- /.ACTIVITY PANEL-->

</section>

{% endblock %}