{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- IMAGE -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="group-image image-activity" src="static/images/dance_exercise_1.jpg"
             alt="Children exercising to music at Project Elimu in Kibera, Nairobi, Kenya.">
    </div>
    <!-- /.IMAGE -->

    <!-- ACTIVITY PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="general-panel green-panel flex-with-text">
            <div class="uppercase panel-title">Music, Dance and Art</div>
            <p>
                This is offered specifically at Project Elimu in the district of Kibera, Nairobi, Kenya. Apart from
                teaching and leading musical exercise classes, volunteers may also assist in other activities offered
                at Project Elimu's centre such as teaching IT skills and basic English and Maths. Volunteers in Kibera
                may also opt to share their time with another NGO in Kibera, Greencard Mtaani, where organising
                sports matches and developing children's sports skills can be pursued.
            </p>
        </div>
    </div>
     <!-- /.ACTIVITY PANEL-->

</section>

{% endblock %}