{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/akosombo_bridge_lake_volta.jpg"
             alt="Akosombo Bridge over Lake Volta, Volta Region, Ghana.">
        <!-- /.IMAGE -->

        <!-- OUR PARTNERS PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">Our Partners</div>

            <p>Greenfield Foundation works with other organisations so that we are able to both organise our volunteering
               programmes in Africa, and to recruit international volunteers in the UK and Europe. These are our current
               partners:
            </p>

            <ul>
                <li>Ghana Education Service</li>
                <li>Ghana Health Service</li>
                <li>Greencard Mtaani NGO, Kenya</li>
                <li>Project Elimu NGO, Kenya</li>
                <li>Northumbria University, UK</li>
            </ul>
        </div>
        <!-- /.OUR PARTNERS PANEL -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- ORGANISATION PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Our Organisation</span><br>
            <p>
                Thank you for considering Greenfield Foundation. The information provided here is intended to give you
                a general background about our organisation.
            </p>
            <p>
                Greenfield Foundation is a not-for-profit NGO that is committed to alleviating poverty in disadvantaged
                communities in various African countries. Currently, we operate in Ghana and Kenya. We also hope to
                open up a volunteer program in Malawi later this year.
            </p>
            <p>
                <b>Greenfield Foundation</b> was founded and registered as an NGO in Ghana in 2013 by Gideon Korda, a
                Ghanaian national. Greenfield Foundation has administrative and executive functions to ensure the
                success of all its volunteer and development programmes in the destinations where it operates. It has,
                over the years, maintained contractual relationships with competent individuals and organisations in
                each country to further the objectives of Greenfield. Gideon is the President and Project Director of
                the organisation. He is responsible for ensuring the quality and success of all volunteering programs,
                and the welfare and safety of all its international volunteers. <b>Kevin Alderson</b>, a British
                national and former volunteer in Ghana, joined Greenfield as a director in 2020. The other directors are
                <b>Hannah Price</b> (New Zealand) and <b>Riccardo Giordano</b> (Italy), both of which have also served
                as volunteers in Ghana.
            </p>
            <p>
                Facebook page: <a class="general-link" target="_blank" href="https://www.facebook.com/GreenfieldFoundation.Gh">
                https://www.facebook.com/GreenfieldFoundation.Gh</a>
            </p>
            <p>
                <b>Greenfield UK</b> is the UK branch for Greenfield Foundation. This branch was established in 2021
                through the hard work and support of Kevin Alderson. Kevin is the Country Director of Greenfield
                Foundation and the Trustee Treasurer of Greenfield UK. The main purpose of the latter is to support
                Greenfield Foundation through fundraising activities and the recruitment of UK volunteers to programmes
                in Ghana and Kenya. It also ensures UK funds spent on Greenfield projects abroad are properly accounted
                for. Kevin is supported by other trustees, namely, <b>Anne Patterson</b>, <b>Robert Bonati</b> and
                <b>Becky Price</b>. Greenfield UK is currently an unregistered charity. Once its income exceeds the
                threshold specified by the UK Charities Commission, it will apply for registration, as required by law.
                Greenfield UK is also a ‘charity-at-law’ which means its charitable funding can only be used for the
                public benefit. In practice, this means those living in impoverished communities in the places where we
                operate in Africa. Greenfield UK is currently seeking Gift Aid recognition with HMRC to enhance
                donations received from UK income taxpayers.
            </p>
            <p>
                Facebook page: <a class="general-link" target="_blank" href="https://www.facebook.com/GreenfieldUK">
                https://www.facebook.com/GreenfieldUK</a>
            </p>
        </div>
        <!-- /.ORGANISATION PANEL-->

    </div>

</section>

{% endblock %}