{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/akosombo_bridge_lake_volta.jpg"
             alt="Akosombo Bridge over Lake Volta, Volta Region, Ghana.">
        <!-- /.IMAGE -->

        <!-- OUR PARTNERS PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">Our Partners</div>

            <p>Greenfield Foundation works with other organisations so that we are able to both organise our volunteering
               programmes in Africa, and to recruit international volunteers in the UK and Europe. These are our current
               partners:
            </p>

            <ul>
                <li>Ghana Education Service</li>
                <li>Ghana Health Service</li>
                <li>Greencard Mtaani NGO, Kenya</li>
                <li>Project Elimu NGO, Kenya</li>
                <li>Northumbria University, UK</li>
            </ul>
        </div>
        <!-- /.OUR PARTNERS PANEL -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- ORGANISATION PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Our Organisation</span><br>
            <p>
                Thank you for considering Greenfield Foundation. The information provided here is intended to give you
                a general background about our organisation.
            </p>
            <p>
                Greenfield Foundation is a not-for-profit NGO that is committed to alleviating poverty and disadvantage
                in various African countries. Currently, we operate in Ghana and Kenya. We also hope to open up a
                volunteer program in Malawi later this year.
            </p>
            <p>
                Although we generally refer publicly to the organisation simply as Greenfield, it is worth noting that,
                internally, there are currently two parts to the organisation: <b>Greenfield Foundation</b> and
                <b>Greenfield UK</b>.
            </p>
            <p>
                <b>Greenfield Foundation</b> is where it all started and was originally established in 2013 by Gideon
                Korda, a Ghanaian, under the laws of Ghana. Greenfield Foundation has two arms of operations:
                administrative and executive functions to ensure the success of all projects undertaken in every project
                destination of the organisation. It has over the years maintained contractual relationship with
                competent, skillful, committed and honest individuals in the execution of the objectives of the
                Foundation's projects. Gideon is the Project Director for both Ghana and Kenya. He will also assume
                similar responsibility for Malawi once we reach an agreement with a partner NGO there. Gideon is
                committed to ensuring the success of all our projects.
            </p>
            <p>
                Facebook page: <a class="general-link" target="_blank" href="https://www.facebook.com/GreenfieldAfrica.Gh">
                https://www.facebook.com/GreenfieldAfrica.Gh</a>
            </p>
            <p>
                <b>Greenfield UK</b> is the semi-autonomous UK branch for Greenfield Foundation. It was established in
                2021 through the hard work and support of Kevin Alderson. Its core purpose is to support Greenfield
                Foundation in fundraising activities and the recruitment of UK & international volunteers to our
                African projects. It ensures funds dedicated towards projects in all project destinations are spent for
                the purpose for which they are intended. It also ensures the welfare and concerns of visiting volunteers
                are not compromised in any way. Kevin is the Country Director of Greenfield UK. He manages and
                co-ordinates the affairs of the charity through the support of few committed international citizens
                namely: Hannah Price (New Zealand), Becky Price (UK) and Riccardo Giordano (Italy). Greenfield UK is a
                charity and has its own board of trustees, namely: Robert Bonati (Chair), Becky Price (Secretary), and
                Kevin Alderson (Treasurer). The board is assisted with publicity and fundraising by Officer Anne
                Patterson. The charity is currently seeking recognition with HMRC to enhance its project donations
                through Gift Aid.
            </p>
            <p>
                Facebook page: <a class="general-link" target="_blank" href="https://www.facebook.com/GreenfieldUK">
                https://www.facebook.com/GreenfieldUK</a>
            </p>
        </div>
        <!-- /.ORGANISATION PANEL-->

    </div>

</section>

{% endblock %}