{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/akosombo_bridge_lake_volta.jpg"
             alt="Akosombo Bridge over Lake Volta, Volta Region, Ghana.">
        <!-- /.IMAGE -->

        <!-- OUR PARTNERS PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <span class="uppercase panel-title">Our Partners</span>

            <p>Greenfield Africa works with other organisations so that we are able to both organise our volunteering
               programmes in Africa, and to recruit international volunteers in the UK and Europe. These are our current
               partners:
            </p>

            <ul>
                <li>Ghana Education Service</li>
                <li>Ghana Health Service</li>
                <li>Greencard Mtaani NGO, Kenya</li>
                <li>Project Elimu NGO, Kenya</li>
                <li>African Vision Malawi NGO</li>
                <li>Northumbria University, UK</li>
            </ul>
            <!-- /.OUR PARTNERS PANEL -->
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <!-- ORGANISATION PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Our Organisation</span><br>
            <p>
                Thank you for considering Greenfield Africa. The information provided here is intended to give you
                a general background about our organisation.
            </p>
            <p>
                Greenfield Africa is a not-for-profit NGO that is committed to alleviating poverty and disadvantage in
                various African countries. Currently, we operate in 3 different countries: Ghana, Kenya and Malawi.
            </p>
            <p>
                Although we always refer publicly to the organisation as Greenfield Africa, it is worth noting that,
                internally there are currently two parts to Greenfield Africa: <b>Greenfield Africa Foundation</b> and
                <b>Greenfield Africa UK</b>.
            </p>
            <p>
                <b>Greenfield Africa Foundation</b> was originally established in 2013 by a Ghanaian, Gideon Korda,
                under the laws of Ghana. Greenfield Africa Foundation has two arms of operations: administrative and
                executive functions to ensure the success of all projects undertaken in every project destination of the
                organisation. It has over the years maintained contractual relationship with competent, skillful,
                committed and honest trained individuals in the execution of the objectives of the Foundation's projects
                across all destinations. Gideon is the Project Director for all 3 project destinations (Ghana, Kenya and
                Malawi). He is committed to ensuring the success of all our projects.
            </p>
            <p>
                Facebook page: <a class="general-link" target="_blank" href="https://www.facebook.com/GreenfieldAfrica.Gh">
                https://www.facebook.com/GreenfieldAfrica.Gh</a>
            </p>
            <p>
                <b>Greenfield Africa UK</b> (commonly referred to as Greenfield UK, for short) is the UK branch for
                Greenfield Africa. This branch was established in 2021 through the hard work and support of Kevin
                Alderson. Its core purpose is to support Greenfield Africa Foundation in fundraising activities and the
                recruitment of UK & international volunteers to projects in Ghana, Kenya and Malawi. It ensures funds
                dedicated towards projects in all project destinations are spent for the sole purpose for which they
                are intended. It also ensures the welfare and concerns of visiting volunteers are not compromised in any
                form. Kevin is the Country Director of Greenfield Africa UK. He manages and co-ordinates the affairs of
                the charity through the support of few committed International citizens namely: Hannah Price
                (New Zealand), Becky Price (UK) and Riccardo Giordano (Italy). Greenfield UK is a charity and has its
                own board of trustees, namely: Robert Bonati (Chair), Becky Price (Secretary), and Kevin Alderson
                (Treasurer). The board is assisted with publicity and fundraising by Officers Bella Ali and Anne
                Patterson. The charity is currently seeking recognition with HMRC to enhance its project donations
                through Gift Aid.
            </p>
            <p>
                Facebook page: <a class="general-link" target="_blank" href="https://www.facebook.com/GreenfieldUK">
                https://www.facebook.com/GreenfieldUK</a>
            </p>
        </div>
        <!-- /.ORGANISATION PANEL-->

    </div>

</section>

{% endblock %}