{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- GALLERY -->
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <figure class="figure image-gallery">
            <img src="static/images/gideon_korda.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption"><h6>Gideon Korda, Project Director</h6></figcaption>
        </figure>

        <figure class="figure image-gallery">
            <img src="static/images/kevin_alderson.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption"><h6>Kevin Alderson, Country Director UK</h6></figcaption>
        </figure>

    </div>

    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <figure class="figure image-gallery">
            <img src="static/images/hannah_price.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption"><h6>Hannah Price, Country Director NZ</h6></figcaption>
        </figure>

        <figure class="figure image-gallery">
            <img src="static/images/riccardo_giordano.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption"><h6>Riccardo Giordano, Country Director Italy</h6></figcaption>
        </figure>

    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <figure class="figure image-gallery">
            <img src="" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption"><h6>Anne Patterson, Publicity Officer</h6></figcaption>
        </figure>

        <figure class="figure image-gallery">
            <img src="" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption"><h6>Bella Ali, Fundraising Officer</h6></figcaption>
        </figure>

    </div>
    <!-- /.GALLERY -->

</section>

{% endblock %}