{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- GALLERY -->
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <figure class="figure image-gallery">
            <img src="static/images/team_members/gideon_korda.jpg" width="370" height="530" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption"><h6>Gideon Korda, Project Director</h6></figcaption>
        </figure>

        <figure class="figure image-gallery">
            <img src="static/images/team_members/kevin_alderson.jpg" width="370" height="530" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption"><h6>Kevin Alderson, Country Director UK, Treasurer Greenfield UK</h6></figcaption>
        </figure>

        <figure class="figure image-gallery">
            <img src="static/images/team_members/robert_bonati.jpg" width="370" height="530" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption"><h6>Robert Bonati, Chair Greenfield UK</h6></figcaption>
        </figure>

    </div>

    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <figure class="figure image-gallery">
            <img src="static/images/team_members/hannah_price.jpg" width="370" height="530" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption"><h6>Hannah Price, Country Director NZ</h6></figcaption>
        </figure>

        <figure class="figure image-gallery">
            <img src="static/images/team_members/riccardo_giordano.jpg" width="370" height="530" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption"><h6>Riccardo Giordano, Country Director Italy</h6></figcaption>
        </figure>

    </div>

    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <figure class="figure image-gallery">
            <img src="static/images/team_members/anne_patterson.jpg" width="370" height="530" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption"><h6>Anne Patterson, Secretary Greenfield UK</h6></figcaption>
        </figure>

        <figure class="figure image-gallery">
            <img src="static/images/team_members/tiya_ndalapa.jpg" width="370" height="530" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption"><h6>Tiya Ndalapa, Admin Officer</h6></figcaption>
        </figure>

    </div>
    <!-- /.GALLERY -->

</section>

{% endblock %}