{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/volunteer_teachers.jpg"
             alt="Children with teaching volunteers.">
        <!-- /.IMAGE -->

        <img class="group-image image-activity" src="static/images/children_lining_up.jpg"
             alt="Children lining up outside classrooms at Ghanaian primary school.">
        <!-- /.IMAGE -->
    </div>

    <!-- ACTIVITY PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Teaching & Orphanage Childcare</span>
            <p>
                The teaching and orphanage placement take place in urban areas of our project destinations. Because
                orphanage children are mostly at school during the day, we offer volunteers the opportunity to combine
                these two projects as they are both centred on children. Interaction with children in an orphanage,
                outside of school hours, is still educational but in a less formal setting.
            </p>
            <h5>Teaching component:</h5>
            <p>
                The school syllabus is provided by the Ministry of Education under each country’s government structure.
                If you already have some teaching experience, this will determine the level of students you will be
                assigned to teach. Even if you have no previous teaching experience, we will arrange with the head
                teacher of the school to teach the younger classes, mainly the kindergarten children, which are aged 4
                years and below, and/or in the primary schools, where ages range between 5 and 10 years. Please note
                that in most parts of Africa, due to a range of factors, not all children in a particular class will
                necessarily be around the same age. Mostly, you would find teaching being done in English, however, in
                some schools, local dialects are used instead of English in order to assist pupils to easily comprehend
                a particular subject area. The regular class teacher will help you in class where such difficulties
                occur. They will also provide general guidance and assistance with your teaching.
            </p>
            <h5>Orphanage childcare component:</h5>
            <p>
                Greenfield works with specific orphanages, also known as residential homes, in the urban areas of Ghana.
                The role of volunteers in an orphanage would be to help with general childcare and supervise and
                organise activities for children like playing games, reading stories, arts and crafts, etc.
            </p>
        </div>
    </div>
     <!-- /.ACTIVITY PANEL-->

</section>

{% endblock %}