{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- ACTIVITY PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">Volunteering Terms, Conditions and Information</div>
            <ol>
                <li>
                    <p>
                        <u>Introduction</u>
                    </p>
                    <p>
                        These Terms & Conditions (“Terms”) apply to all volunteering services provided by Greenfield
                        Foundation (“we”, “us”, “our”) to you, the customer (“you”, “your”). By enrolling on our
                        volunteering programmes, you agree to be bound by these Terms.
                    </p>
                    <p>
                        That's the only legalese we use! Nobody likes reading the small print but our Ts & Cs are
                        designed to be clear and transparent as possible. Please contact us if they are not.
                    </p>
                </li>
                <li>
                    <p>
                        <u>Booking your flights</u>
                    </p>
                    <p>
                        Once we have received notification, from yourself, or your University, that you wish to enroll
                        on one of our programmes, we will reserve a place for you on our system, to begin with, without
                        taking a deposit, so that you can check flight availability first and book your flights. Once
                        you have your flight details, you must notify them to us. Once we have received them we will
                        ask you for your deposit.
                    </p>
                </li>
                <li>
                    <p>
                        <u>Deposit</u>
                    </p>
                    <p>
                        Once requested please pay your deposit within 2 weeks to secure your place. The deposit is non-refundable,
                        if cancelled by you. <b>The deposit amount is dependent on the duration of your placement.</b>
                        Please see our Fees & Costs page for the exact amount for your chosen duration and pay
                        it by bank transfer to this account:
                    </p>
                    <p>
                        Account name: Greenfield Africa UK<br>
                        Account number: 65622630<br>
                        Sort code: 089299 (The Co-operative Bank)<br>
                    </p>
                    <p>
                        After your deposit has been received, we will issue you with an electronic receipt. Please
                        safely retain this in case you need to make a claim against your travel insurance. We will
                        also issue you your 1st Pre-departure Pack. This contains all sorts of useful info about
                        volunteer travel insurance, obtaining a visa, vaccinations, local mobile SIMs, mobile money,
                        etc.
                    </p>
                </li>
                <li>
                    <p>
                        <u>Balance</u>
                    </p>
                    <p>
                        We will send you an electronic invoice with your final balance, 10 weeks before departure.
                        You must pay this at least 8 weeks before departure, unless otherwise permitted by us. Early
                        payment helps us to cover our administration costs and timely secure accommodation, hired
                        labour and trades people, building materials, educational materials, etc. in advance of your
                        visit. Please pay your balance to the same bank account above.
                    </p>
                    <p>
                        After your balance has been received, we will issue you with an electronic receipt. Please
                        safely retain this in case you need to make a claim against your travel insurance.
                    </p>
                </li>
                <li>
                    <p>
                        <u>Insurance</u>
                    </p>
                    <p>
                        It is a condition of volunteering with us, that you must purchase <b>volunteer</b> travel
                        insurance for the full duration of your placement. Please note that standard <b>tourist</b>
                        insurance will not cover the types of risks that are part-and-parcel of working as a volunteer.
                        Documentary proof of possession of such insurance will need to be sent to us at least 4 weeks
                        before your departure. We understand that volunteer travel insurance can be arranged through
                        Northumbria University for those claiming a Turing Scheme grant.
                    </p>
                </li>
                <li>
                    <p>
                        <u>Availability of activities</u>
                    </p>
                    <p>
                        Although we will do our utmost to provide the activities advertised for your have chosen
                        destination, please be aware it may not be possible to provide all of them, as stated, due
                        to circumstances beyond our control, such as war, civil unrest, flood, fire, industrial
                        action, power outages, material shortages, currency volatility, etc. The local manager in
                        your destination country will try to make alternative arrangements for you, where possible.
                        By enrolling with us, you accept that some of our promoted activities may not be available,
                        and that you are prepared to engage in alternative ones that are offered.
                    </p>
                </li>
                <li>
                    <p>
                        <u>Cancellation of programme</u>
                    </p>
                    <p>
                        Please note that the cancellation of a programme in one destination only affects that
                        particular country. We may be able to offer you a placement in our alternative destination.
                        For example, if you opted for Kenya initially, then we may be able to transfer you to a
                        placement in Ghana.
                    </p>
                    <p>
                        In the unlikely event that your placement is cancelled by us and an alternative one is not
                        available, nor suitable to you, then we will refund your deposit in full. If you have already
                        paid your final balance, and the money has not been forwarded to cover costs in your
                        destination country, then we will refund it.

                        If it has already been transferred to your destination country then it may be difficult
                        to recover, especially if it has been spent on non-refundable accommodation deposits,
                        building materials, educational supplies, etc. African NGOs tend to spend received funding
                        quickly because of inflationary pressures. In such an event, you should claim your costs from
                        your travel insurance provider.
                    </p>
                </li>
                <li>
                    <p>
                        <u>Data protection</u>
                    </p>
                    <p>
                        As a charity, we are exempt from registering with the UK Information Commissioner's Office.
                        However, we still have to comply with the General Data Protection Regulations (GDPR). We do not
                        sell your data to 3rd parties and only share it with our trusted partners abroad as necessary
                        for the efficient management of your volunteering placement. They, too, have to comply with the
                        same data protection rules, and have signed agreements to do so.
                    </p>
                </li>
            </ol>
        </div>
    </div>
     <!-- /.ACTIVITY PANEL-->

</section>

{% endblock %}