{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- ACTIVITY PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">Terms & Conditions</div>
            <ol>
                <li>
                    <p>
                        After being offered a place by us, and confirming your wish to join us as an international
                        volunteer, you must pay a non-refundable deposit to secure your place. <b>The deposit is
                        currently £50. Please pay by bank transfer to this account:</b>
                    </p>
                    <p>
                        Account name: Greenfield Africa UK<br>
                        Account number: 65622630<br>
                        Sort code: 089299 (The Co-operative Bank)<br>
                    </p>
                </li>
                <li>
                    <p>
                        It is a condition of volunteering with us, that you must purchase <b>volunteer</b> travel
                        insurance for the full duration of your trip. Please note that standard <b>tourist</b> insurance
                        will not cover the types of risks that are part-and-parcel of working as a volunteer. Documentary
                        proof of possession of such insurance will need to be sent to us at least 4 weeks before your
                        departure.
                    <p>
                </li>
                <!--
                <li>
                    <p>
                    </p>
                </li>
                <li>
                    <p>
                    </p>
                </li>
                -->
            </ol>
        </div>
    </div>
     <!-- /.ACTIVITY PANEL-->

</section>

{% endblock %}