{% extends 'base.html' %}
{% block content %}

<section class="row">

    <!-- TESTIMONIAL PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="general-panel orange-panel flex-with-text">
            <div class="uppercase panel-title">Testimonials from our volunteers</div>
            <p>
                <b>2025 intake to Kenya</b>
            </p>
            <ul>
                <li>
                    <p>
                        <i>
                            Greenfield Foundation is a very well organised and sophisticated company, with a great
                            team of leaders. I had the most amazing time doing building and renovation in Kenya, as
                            well as taking part in other activities like sports, cooking and supporting the community.
                        </i>
                    </p>
                    <p>
                        <b>Alistair Kirkwood, undergraduate, Northumbria University.</b>
                    </p>
                </li>
            </ul>
            <ul>
                <li>
                    <p>
                        <i>
                            Greenfield gave me a once in a lifetime opportunity to volunteer at a hospital in Kenya.
                            Not only did I gain valuable life skills, but I was also able to fully immerse myself in
                            the local culture. My time in Kenya was one of the most meaningful experiences of my life,
                            as it allowed me to see the world from a completely different perspective.
                        </i>
                    </p>

                    <p>
                        <i>
                            Volunteering in the hospital made me incredibly grateful for what I have and helped me
                            realise that what truly matters in life is a strong community and a supportive system.
                            Many of the people I met had very little, yet they showed such warmth, kindness, and
                            resilience despite their living and personal circumstances. Their spirit was truly inspiring.
                        </i>
                    </p>

                    <p>
                        <i>
                            Being a volunteer was an unforgettable and life-changing experience, and I would highly
                            recommend it to anyone who is unsure about taking the leap. Everyone’s volunteering journey
                            will be different, but I can confidently say it will be positive. There is nothing more
                            rewarding than knowing you have genuinely helped someone and made even a small difference
                        </i>
                    </p>
                    <p>
                        <b>Emily Gaddes, graduate, Northumbria University.</b>
                    </p>
                </li>
            </ul>
        </div>
    </div>
     <!-- /.TESTIMONIAL PANEL-->

</section>

{% endblock %}