{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- TEXT PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <span class="uppercase panel-title">Project Ghana</span>
            <h5>ACTIVITIES</h5>
            <p>
                In Ghana, our volunteering programmes are run directly by us. Greenfield Foundation is registered as
                NGO with the Ghanaian government. We primarily work in the Volta Region of Ghana. Gideon Korda, our
                Project Director, with the support of his team, manages the volunteer programmes in Ghana.
            </p>
            <p>
                Some of the images shown here are of the primary school in the village of Logba Hoklikofe, Volta
                Region. The population of Logba is 235, of which 75 are pupils at the school. The school is slowly
                being demolished and rebuilt. The larger towns of Ho, Hohoe (pronounced gutturally as "Hoch-way") and
                Kpando are about an hour's drive away. These are good places to visit for shopping, bars, cafés and
                restaurants. Ho is about 80 miles north-east of Accra, the capital. There are volunteer opportunities
                in, and around, Logba, as follows:
            </p>
            <ul>
                <li>Building & Refurbishment</li>
                <li>Medical & Healthcare</li>
                <li>Teaching & School Childcare</li>
                <li>Orphanage Childcare</li>
                <li>Sports Coaching & Development</li>
<!--                <li>Dance, Music & Art</li>-->
            </ul>
            <p>
                When you apply for a placement in Ghana, we will ask you to pick a main volunteering activity that you
                would like to do, plus any other activities that may interest you. This is to allow you some contingency
                should your main activity not be available, for whatever reason. For example, building & refurbishment
                projects are subject to funding constraints, material shortages, bureaucracy, etc. causing delay, so
                you must be prepared to pursue another activity, or activities, instead.
            <p>
                You may also be allowed to be involved in more than one activity during your visit, subject to length
                of stay, placement availability, distance between project locations, etc. We are quite flexible in this
                regard and will endeavour to fulfil such requests.
            </p>
            <p>
                Volunteers with, or without, expertise in these fields are ALL welcome, as there are a variety of levels
                in which assistance can be given. For example, if you wish to teach, you don't have to necessarily lead
                a class - you can work as a classroom assistant, instead.
            </p>

            <h5>ACCOMMODATION</h5>
            <p>
                The type of accommodation you will stay at depends on the number of volunteers. If there are many, a
                suitable house will be rented, and a cook hired to make your meals. Otherwise, you will be placed
                with a local family, who will cook for you. Breakfast, lunch and dinner will be provided whatever
                type of accommodation you are staying at.
            </p>

            <h5>FLIGHTS</h5>
            <p>
                If you decide to volunteer with in Ghana, you need to book your outbound flight to Ghana's main
                airport at Accra, Kotoka International Airport (IATA code: <b>ACC</b>). Flights to Kenya are operated
                by a number of carriers from the UK, including KLM, Air France, British Airways and Kenya Airways. Most
                flights from Newcastle, and other major UK provincial cities, include a transfer via a European hub
                such as Amsterdam, Paris, Brussels, Frankfurt, etc. Some direct flights are available from London.
            </p>
            <p>
                General information about Ghana can be found at:<br>
                <a class="orange-panel-link" target="_blank" href="https://en.wikipedia.org/wiki/Ghana">https://en.wikipedia.org/wiki/Ghana</a>
            </p>

        </div>
        <!-- /.TEXT PANEL-->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="">
            <img class="group-image image-activity" src="static/images/logba_old_school.jpg"
                 alt="">
        </div>
        <!-- /.IMAGE -->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="">
            <img class="group-image image-activity" src="static/images/logba_school_rebuild.jpg"
                 alt="">
        </div>
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Map of Ghana's regions.">
            <img class="group-image image-activity" src="static/images/ghana_regions_map.png"
                 alt="Map of Ghana's regions.">
            <!-- /.IMAGE -->
        </div>

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="">
            <img class="group-image image-activity" src="static/images/football_game.jpg"
                 alt="">
        </div>
        <!-- /.IMAGE -->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="">
            <img class="group-image image-activity" src="static/images/volleyball_game.jpg"
                 alt="">
        </div>
        <!-- /.IMAGE -->

    </div>

</section>

{% endblock %}