{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <img class="group-image image-activity" src="static/images/greencard_mtaani.jpg"
             alt="Group of people standing outside the head office of Greencard Mtaani, and NGO based in Kibra, Nairobi, Kenya.">
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- TEXT PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Project Kenya</span>
            <p>
                In Kenya, Greenfield is in partnership with two inner-city NGOs in the district of Kibra, a slum
                district of Nairobi.

                Most, but not all, volunteering is based in Malaika School, which is run by our partner NGO, Greencard
                Mtaani. What we offer here is a mix of activities, that all volunteers are expected to assist with.
                The main volunteering activities are building & refurbishment, teaching of basic Maths & English,
                and assisting with Sports / P.E. lessons, but you will be also asked to assist with general tasks
                needed to run the school such as assisting with cooking, serving food and clearing up.
            </p>

            <p> For those interested in Medical & Healthcare volunteering, we offer a placement at Langata Sub-County
                Hospital.
            </p>

            <p>
                If you decide to volunteer with us in Kenya, you need to book your outbound flight to Nairobi's main
                airport, Jomo Kenyatta International Airport (IATA code: <b>NBO</b>). Flights to Kenya are operated by
                a number of carriers from the UK, including KLM, Air France, British Airways and Kenya Airways. Most
                flights from Newcastle, and other major UK provincial cities, include a transfer via a European hub
                such as Amsterdam, Paris, Frankfurt, etc. Some direct flights are available from London.
            </p>

        </div>
        <!-- /.TEXT PANEL-->
    </div>

</section>

{% endblock %}