{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- TEXT PANEL -->
        <div class="general-panel orange-panel flex-with-text">
            <span class="uppercase panel-title">Project Ghana</span>
            <h5>ACTIVITIES</h5>
            <p>
                In Ghana, our volunteering programmes are run directly by us. Greenfield Foundation is registered as
                NGO with the Ghanaian government. We primarily work in the Volta Region of Ghana. Gideon Korda, our
                Project Director, with the support of his team, manages the volunteer programmes in Ghana. Currently,
                our volunteer programmes are based in Logba Hoklikofe and Peki, both in the Volta Region.
            </p>
            <p>
                Some of the images shown here are of the primary school in the village of Logba. The population of
                Logba is 235, of which 75 are pupils at the school. The school is slowly being demolished and rebuilt.
                The larger towns of Ho, Hohoe (pronounced gutturally as "Hoch-way") and Kpando are about an hour's
                drive away. These are good places to visit for shopping, bars, cafés and restaurants. Ho is about 80
                miles north-east of Accra, the capital.
            </p>
            <p>
                Peki township has a much bigger population than Logba, and is a significant town within the Region. It
                is nationally known for having large senior high schools and one of the oldest teacher training colleges
                in Ghana. There is also a government hospital in Peki that serves patients across the Region, which is
                ideal for volunteers who are studying, or wish to study, medicine or health related courses. Also,
                opportunities for professional sport coaching, are greater in Peki than in Logba because of the large
                schools, both public and private.
            </p>
            <p>
                All our projects in Ghana come with flexible options, so volunteers in Peki can also get involved in
                other activities in Logba. In effect, volunteers can experience both rural and urban lifestyles while
                undertaking their placement.
            </p>
            <p>
                There are volunteer opportunities across both locations as follows:
            </p>
            <ul>
                <li>Building & Refurbishment</li>
                <li>Medical & Healthcare</li>
                <li>Teaching & School Childcare</li>
                <li>Orphanage Childcare</li>
                <li>Sports Coaching & Development</li>
<!--                <li>Dance, Music & Art</li>-->
            </ul>
            <p>
                When you apply for a placement in Ghana, we will ask you to pick a main volunteering activity that you
                would like to do, plus any other activities that may interest you. This is to allow you some contingency
                should your main activity not be available, for whatever reason. For example, building & refurbishment
                projects are subject to funding constraints, material shortages, bureaucracy, etc. causing delays, so
                you must be prepared to pursue another activity, or activities, instead.
            </p>
            <p>
                Volunteers with, or without, expertise in these fields are all welcome, as there are a variety of levels
                in which assistance can be given. For example, if you wish to teach, you don't have to necessarily lead
                a class - you can work as a classroom assistant, instead.
            </p>

            <h5>ACCOMMODATION</h5>
            <p>
                The type of accommodation you will stay at depends on the number of volunteers. If there are many, a
                suitable house will be rented, and a cook hired to make your meals. Otherwise, you will be placed
                with a local family, who will cook for you. Breakfast, lunch and dinner will be provided whatever
                type of accommodation you are staying at.
            </p>

            <h5>FLIGHTS</h5>
            <p>
                If you decide to volunteer in Ghana, you need to book your outbound flight to Ghana's main airport at
                Accra, Kotoka International Airport (IATA code: <b>ACC</b>). Flights to Ghana are operated by a number
                of carriers from the UK, including KLM, Air France, and British Airways. Most flights from the major UK
                provincial airports include a transfer via a European hub such as Amsterdam, Paris, Brussels, Frankfurt,
                etc. Some direct flights are available from London but these tend to be more expensive.
            </p>

            <h5>SIGHTSEEING</h5>
            <p>
                These tourist attractions are near Logba:
            </p>
            <ul>
                <li>Mount Afadza</li>
                <li>Wli Waterfall</li>
                <li>Monkey Sanctuary</li>
                <li>Canopy walk</li>
            </ul>
            <p>
                General information about Ghana can be found at:<br>
                <a class="orange-panel-link" target="_blank" href="https://en.wikipedia.org/wiki/Ghana">https://en.wikipedia.org/wiki/Ghana</a>
            </p>

        </div>
        <!-- /.TEXT PANEL-->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="The old school at Logba.">
            <img class="group-image image-activity" src="static/images/logba_old_school.jpg"
                 alt="The old school at Logba.">
        </div>
        <!-- /.IMAGE -->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Rebuilding Logba School">
            <img class="group-image image-activity" src="static/images/logba_school_rebuild.jpg"
                 alt="Rebuilding Logba School">
        </div>
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Map of Ghana's regions.">
            <img class="group-image image-activity" src="static/images/ghana_regions_map.png"
                 alt="Map of Ghana's regions.">
            <!-- /.IMAGE -->
        </div>

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Schoolchildren playing football.">
            <img class="group-image image-activity" src="static/images/football_game.jpg"
                 alt="Schoolchildren playing football.">
        </div>
        <!-- /.IMAGE -->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Schoolchildren playing volleyball.">
            <img class="group-image image-activity" src="static/images/volleyball.jpg"
                 alt="Schoolchildren playing volleyball.">
        </div>
        <!-- /.IMAGE -->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Wli Waterfall near Logba.">
            <img class="group-image image-activity" src="static/images/wli_waterfall.jpg"
                 alt="Wli Waterfall near Logba.">
        </div>
        <!-- /.IMAGE -->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Ghana's highest mountain, Mount Afadza, near Logba.">
            <img class="group-image image-activity" src="static/images/mount_afadza.jpg"
                 alt="Ghana's highest mountain, Mount Afadza, near Logba.">
        </div>
        <!-- /.IMAGE -->

    </div>

</section>

{% endblock %}