{% extends 'base.html' %}
{% block content %}

<section class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- TEXT PANEL -->
        <div class="general-panel green-panel flex-with-text">
            <span class="uppercase panel-title">Project Kenya</span>
            <h5>ACTIVITIES</h5>
            <p>
                In Kenya, we are working in partnership with Greencard Mtaani, an NGO based in Kibra, a slum
                district of Nairobi. Greencard's CEO is called Fred Otanga.

                There is another nearby NGO called Project Elimu, which offers education & training in dance,
                digital literacy, skateboarding and girls' football. We are currently negotiating with it to
                see how our volunteers could work there.
            </p>
<!--
            <p>
                In Kenya, we are working in partnership with two inner-city NGOs in the district of Kibra, a slum
                district of Nairobi. These are called Greencard Mtaani and Project Elimu, respectively.
            </p>
-->
            <p>
                Some of our volunteering is based in Greencard Mtaani's Malaika School,
                What we offer here is a mix of activities, that all volunteers would be expected to assist with.
                The main volunteering activities are building & refurbishment, basic teaching of Maths and English,
                and assisting with limited sports / P.E. lessons, but you will also be to assist with general tasks
                needed to run the school such as serving food to the children and clearing up.
            </p>

            <p>
                Malaika School has limited sports infrastructure, and is quite small with only about 80 pupils, so for
                those volunteers who want to concentrate more specifically on sports, we are making arrangements with
                Joash Olum Primary & Junior Secondary School in Silanga Village, Kibra, just a short walk from Malaika
                School.
                Joash Olum School is a government school with a population of over 300 children. The age range is from
                6 to 14 years old.
                Opportunities may also exist here for teaching more advanced students, or teaching as a classroom
                assistant under the supervision of a local teacher. This is still to be negotiated
            </p>

            <p> For those interested in Medical & Healthcare volunteering, we offer a placement at Langata Sub-County
                Hospital. It's a small hospital but provides the following services: mental health, outpatient /
                inpatient care, special clinics, dental, nutritional care, maternity, operating theatre, paediatrics
                and radiology. This programme is only suitable for volunteers who are studying, or who wish to study,
                medicine.</p>

            <h5>ACCOMMODATION</h5>
            <p>
                Your accommodation is at a guesthouse called Mdawida Homestay where breakfast and dinner will be served.
                A mid-morning snack and lunch will be provided for at Malaika School, if you are working there or at a
                nearby school or centre. For those volunteering at Langata hospital, there is no staff canteen
                but there are food outlets nearby. Fred will make arrangements to refund lunch costs incurred in this
                case. Images of Mdawida Homestay are shown below. It resides in a gated complex, so it's quite safe and
                secure. There are some shops and cafés within walking distance, and shopping malls a short taxi-ride
                away.
            </p>

            <h5>FLIGHTS</h5>
            <p>
                If you decide to volunteer with us in Kenya, you need to book your outbound flight to Nairobi's main
                airport, Jomo Kenyatta International Airport (IATA code: <b>NBO</b>). Flights to Kenya are operated by
                a number of carriers from the UK, including KLM, Air France, British Airways and Kenya Airways. Most
                flights from Newcastle, and other major UK provincial cities, include a transfer via a European hub
                such as Amsterdam, Paris, Brussels, Frankfurt, etc. Some direct flights are available from London.
            </p>

        </div>
        <!-- /.TEXT PANEL-->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Front view of Mdawida Homestay.">
            <img class="group-image image-activity" src="static/images/mdawida_front.jpg"
                 alt="Front view of Mdawida Homestay guesthouse.">
        </div>
        <!-- /.IMAGE -->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Living room at Mdawida Homestay.">
            <img class="group-image image-activity" src="static/images/mdawida_interior.jpg"
                 alt="Living room at Mdawida Homestay.">
        </div>
        <!-- /.IMAGE -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Volunteers helping with lunchtime washing-up at Malaika School, Kibra">
            <img class="group-image image-activity" src="static/images/washing_up.jpg"
                 alt="Volunteers helping with lunchtime washing-up at Malaika School, Kibra.">
            <!-- /.IMAGE -->
        </div>

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="Joash Olum school in Silanga Village, Kibra">
            <img class="group-image image-activity" src="static/images/joash_olum_school_front.jpg"
                 alt="Joash Primary & Junior Secondary School in Silanga Village, Kibra">
        </div>
        <!-- /.IMAGE -->

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" title="">
            <img class="group-image image-activity" src="static/images/national_museum_trip.jpg"
                 alt="">
        </div>
        <!-- /.IMAGE -->

    </div>

</section>

{% endblock %}